<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digg Wallet Sandbox</title>
    <link href="./style/digg.css" rel="stylesheet" />
</head>
<header th:replace="~{layout :: header}"></header>

<body>
    <main class="main-container">
        <div class="content-area">
            <section class="content top-stories">
              
            </section>
        </div>
    </main>
</body>
<div th:replace="~{layout :: footer}"></div>

</html>