<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digg Wallet Sandbox</title>
    <link th:href="@{./style/digg.css}" rel="stylesheet" />
    <meta name="description"
        content="DIGG Wallet Sandbox for EUDIW Reference Implementation and Personal Identity Document (PID) Issuance">
</head>
<header th:replace="~{layout :: header}"></header>

<body>
    <main class="main-container">
        <div class="content-area">
            <section class="content top-stories">
                <div class="section-group" id="introduction">
                    <div class="section-header">Introduction</div>
                    <div class="section-description">
                        <p>
                            Digg participates in the Large Scale Pilots for the European Digital Identity Wallet (EUDIW), which aim to provide a secure, user-centric, and interoperable digital identity solution across the EU.
                        </p>

                        <p>As part of this work, Digg contributes by:
                        </p>
                        <ul>
                            <li>Testing and providing feedback on the European Commission's open-source reference implementation of the EUDI Wallet, developed to support Member States and stakeholders in building their own wallets.</li>
                            <li>Enabling testing of issuing a Swedish Person Identification Data (PID) to wallets</li>
                        </ul>




                        <p>We also closely follow the latest specifications outlined in the
                            <a href="https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md"
                                target="_blank">EUDIW Architecture and Reference Framework</a>.
                        </p>

                    </div>
                </div>
                <div class="section-group">

                    <div class="section-header">Apps</div>
                    <article>
                        <h3 class="article-title">
                            How do I get started testing the apps?
                        </h3>
                        <p class="article-content">
                            You can sign up as a tester for Diggs demo applications below.
                            Click on the link below for the platform that you would like to test and follow the
                            instructions to gain access to the demo application.
                        </p>
                    </article>
                    <article>
                        <h3 class="article-title">
                            Signup
                        </h3>
                        <div class="article-content">
                            <p>
                                The apps are distributed with Firebase App Distribution. Please follow the
                                instructions
                                that you are presented with in order to have the app successfully installed on your
                                device.
                            </p>
                            <div style="padding-top: 15px">
                                <ul>
                                    <li>
                                        <a href="https://appdistribution.firebase.dev/i/4cc10e4a1eb14d6b">
                                            Android
                                            <span style="padding-left: 7px;" class="dg-link-icon--external">
                                                <svg aria-label="Länk till annan webbplats" width="15" height="15"
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                        d="M280 80C266.7 80 256 69.25 256 56C256 42.75 266.7 32 280 32H424C437.3 32 448 42.75 448 56V200C448 213.3 437.3 224 424 224C410.7 224 400 213.3 400 200V113.9L200.1 312.1C191.6 322.3 176.4 322.3 167 312.1C157.7 303.6 157.7 288.4 167 279L366.1 80H280zM0 120C0 89.07 25.07 64 56 64H168C181.3 64 192 74.75 192 88C192 101.3 181.3 112 168 112H56C51.58 112 48 115.6 48 120V424C48 428.4 51.58 432 56 432H360C364.4 432 368 428.4 368 424V312C368 298.7 378.7 288 392 288C405.3 288 416 298.7 416 312V424C416 454.9 390.9 480 360 480H56C25.07 480 0 454.9 0 424V120z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <p class="article-description">
                                            Android (Minimum device requirement: Android 9 (API level 28)):
                                        </p>
                                    </li>
                                    <li>
                                        <a href="https://appdistribution.firebase.dev/i/70194da820ced350">
                                            iOS
                                            <span style="padding-left: 7px;" class="dg-link-icon--external"><svg
                                                    aria-label="Länk till annan webbplats" width="15" height="15"
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                        d="M280 80C266.7 80 256 69.25 256 56C256 42.75 266.7 32 280 32H424C437.3 32 448 42.75 448 56V200C448 213.3 437.3 224 424 224C410.7 224 400 213.3 400 200V113.9L200.1 312.1C191.6 322.3 176.4 322.3 167 312.1C157.7 303.6 157.7 288.4 167 279L366.1 80H280zM0 120C0 89.07 25.07 64 56 64H168C181.3 64 192 74.75 192 88C192 101.3 181.3 112 168 112H56C51.58 112 48 115.6 48 120V424C48 428.4 51.58 432 56 432H360C364.4 432 368 428.4 368 424V312C368 298.7 378.7 288 392 288C405.3 288 416 298.7 416 312V424C416 454.9 390.9 480 360 480H56C25.07 480 0 454.9 0 424V120z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <p class="article-description">
                                            iOS (Minimum device requirement: iOS 16.0)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h4 class="article-title">What can I test in the apps?</h4>

                        <p class="article-content">You can apply for a PID from Digg either by scanning a QR-code for a
                            <a href="./prepare-credential-offer">credential offer</a> or selecting a
                            PID from the preconfigured list you can find in the app. You can also use your newly
                            acquired PID and have it verified
                            on <a href="https://wallet.sandbox.digg.se/verifier/">Diggs Verifier</a> either by selective
                            disclosure or by supplying all available data.
                        </p>
                    </article>
                    
                </div>
                <div class="section-group" id="resources">
                    <div class="section-header">Resources</div>
                    <div class="article-grid">
                        <article class="article credential-offer">
                            <a href="./prepare-credential-offer">
                                <div class="article-image">
                                    🔗
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title">Credential Offer</h3>
                                    <p class="article-description">
                                        Instantly receive a PID through our web-based credential offer.
                                        Click to generate a QR code that can be scanned by compatible wallets.
                                    </p>
                                </div>
                            </a>
                        </article>

                        <article class="article wallet-app">
                            <a href="https://wallet.sandbox.digg.se/verifier/">
                                <div class="article-image">
                                    ✅
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title">Verifier</h3>
                                    <p class="article-description">
                                        Test the reference implementations verifier.
                                    </p>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>

                <div class="section-group" id="learn-more">
                    <div class="section-header">Learn More</div>
                    <div class="section-description">
                        <p>Explore additional resources to deepen your understanding of the European Digital Identity
                            Wallet and our reference implementation:</p>

                        <div class="article-grid">
                            <article class="article">
                                <a href="https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework"
                                    target="_blank">
                                    <div class="article-image">📖</div>
                                    <div class="article-content">
                                        <h3 class="article-title">Architecture and Reference Framework</h3>
                                        <p class="article-description">Detailed documentation of the EUDIW technical
                                            specifications and architectural guidelines.</p>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
<footer th:replace="~{layout :: footer}"></footer>

</html>
