<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <img th:src="${qrCode}" alt="scan in wallet app in order to issue personal id">
    <form action="#" th:action="@{/pid}" th:object="${credentialOffer}" method="post">
        <p>Pid Mso Mdoc: <input type="checkbox" th:field="*{pidMsoMdoc}" /></p>
        <p>Pid Sd Jwt Vc: <input type="checkbox" th:field="*{pidSdJwtVc}" /></p>
        <p>Pre-Auth code <input type="hidden" th:field="*{preAuthCodeFlow}" /></p>
        <p th:text="*{validationErrors}"></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <a th:href="${linkUrl}">Hämta till plånbok</a>
</body>
</html>
