<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digg Wallet Sandbox</title>
    <link href="./style/digg.css" rel="stylesheet" />
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a href="https://www.digg.se" aria-label="Gå till digg.se">
                <img alt="DIGG - Myndigheten för digital förvaltning" class="sv-noborder sv-svg" src="./images/DIGG-logo-color.svg">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">EU Digital Identity Wallet</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="main-container">
    <div class="content-area">
        <section class="content top-stories">
            <div class="section-header">Create PID credential offer</div>

            <article class="article">
                <div class="article-image">
                    🪪
                </div>
                <div class="article-content">
                    <img th:if="${qrCode != null and !#strings.isEmpty(qrCode)}" th:src="${qrCode}" alt="scan in wallet app in order to issue personal id">
                    <form action="#" th:action="@{/pid}" th:object="${credentialOffer}" method="post">
                        <p>Pid Mso Mdoc: <input type="checkbox" th:field="*{pidMsoMdoc}" /></p>
                        <p>Pid Sd Jwt Vc: <input type="checkbox" th:field="*{pidSdJwtVc}" /></p>
                        <input type="hidden" th:field="*{preAuthCodeFlow}" />
                        <p th:text="*{validationErrors}"></p>
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                    </form>
                    <a th:href="${linkUrl}">Hämta till plånbok</a>
                </div>
            </article>
        </section>

    </div>

</main>


<footer>
    <div class="footer-container">
        <div class="footer-links">
            <div>
                <a href="https://www.linkedin.com/company/digg-sverige/" class="dg-normal dg-external-link  dg-footer-social-link LinkedIn" lang="en"><span class="env-assistive-text">DIGG på&nbsp;</span><span>LinkedIn</span></a>
                <a href="https://press.newsmachine.com/pressroom/view/digg-myndigheten-for-digital-forvaltning" class="dg-normal dg-external-link  dg-footer-social-link PressMachine" lang="en"><span class="env-assistive-text">DIGG på&nbsp;</span><span>PressMachine</span></a>
            </div>
            <div>
                <a href="mailto:info@digg.se">info@digg.se</a>
                <a href="tel:0771-114400">Tel: 0771-11 44 00</a>
            </div>

        </div>
        <div class="copyright">© 2025 <strong>Digg</strong> - Myndigheten för digital förvaltning. All rights reserved.</div>
    </div>
</footer>
</body>
</html>

