<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Personal Identifier (PID) Credential offer</h1>
    <img th:src="${qrCode}" alt="scan in wallet app in order to issue personal id">
    <a th:href="${linkUrl}">Hämta till plånbok</a>
    <h2>PIN code</h2>
    <form>
        <label for="txCode">txCode</label><input type="text" readonly id="txCode" th:value="${txCode}"/>
        <div style="display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;" onclick="copyTxCode()">Copy txCode</div>
        <button>Generera ny credential</button>
    </form>
    <script>
        function copyTxCode() {
            // Get the text field
            var copyText = document.getElementById("txCode");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
</body>
</html>
